.desktop-header{
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;

  &_fixed {
    position: fixed;
  }

  @media (max-width: 700px) {
    display: none;
  }

  &__menu {
    display: flex;
    font-size: 23px;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;

    a {
      text-decoration: none;
      text-transform: lowercase;
      color: unset;
    }
  }

  &__logo {
    width: 400px;
  }

}


