@font-face {
  font-family: 'New-channel';
  src: url('New_Channel_Font-Medium.woff2') format('woff2'),
      url('New_Channel_Font-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'New-channel', sans-serif;
}
