.single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1900px) {
    grid-template-columns: 1fr;
  }

  &__slider {
    position: relative;
  }


  &__image {
    position: absolute;
    top: 0;
    transition: 0.3s ease;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    width: 3rem;
    height: 2rem;
    top: 50%;
    margin-top: -1.5rem;
    cursor: pointer;

    &_left {
      transform: scaleX(-1);
      left: -10%;
    }

    &_right {
      right: -10%;
    }
  }

  &__dots {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  &__dot {
    padding: 0.5rem;
    cursor: pointer;

    img {
      width: 1rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    padding-top: 1.6rem;
  }

  &__description {
    padding-left: 1rem;
    padding-right: 1rem;
    text-indent: 0.5rem;
  }

  &__price {
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  &__buy-btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    border: 1px solid #d2d2d2;
    background-color: white;
    padding:  0.3rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  &__edit {
    position: absolute;
    right: 0;
    top: 0;
    margin: .3rem;
    z-index: 1;
    background: none;
    border: none;
    color: rgba(black, 0.5);
    filter: drop-shadow(.05em .05em white);

    &_active {
      color: black;
    }
  }
}