.gallery-admin {
  line-height: 0;
  column-count: 4;
  column-gap: .6rem;
  transition: all .3s ease-out;
  

  @media (max-width: 700px) {
    column-count: 1;
  }

  &__item {
    display: block;
    width: 100%;
    margin-bottom: .6rem;

    &_picked {
      opacity: 0.4;
    }
  }

  &__drop-zone {
    background-color: gray;
    width: 100%;
    height: 0px;
    margin-bottom: 0;
    opacity: 0.2;
    transition: all .3s ease-out;
    
    &_active {
      height: 80px;
      display: block;
      margin-bottom: .6rem;
    }

    &_hovered {
      opacity: 1;
    }
  }
}