.language-selector {
  text-align: center;
  padding: 1rem;

  $this: &;

  &__lng {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);

    &:not(:last-child) {
      &::after {
        content: '|';
        margin: 0 0.5rem;
        color: black;
      }
    }

    &_active {
      color: black;
    }
  }

  &_dark {
    #{$this}__lng {
      color: rgba(255, 255, 255, 0.2);

      &:not(:last-child) {
        &::after {
          color: rgba(255, 255, 255, 0.2);
        }
      }

      &_active {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
