.zoom {

  position: fixed;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 11;
  background-color: rgba(0,0,0,0.9);

  img {
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 12;
    margin: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}