@import "../../common.scss";

.content {
  // width: 1024px;
  margin: auto;
  &_fixed-menu {
    margin-top: 250px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    width: auto;
    padding: 1rem;
  }
}