@import '../../../common.scss';

.cart-item {
  display: flex;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  > div:not(:first-child) {
    padding: 1rem;
  }

  &__photo {
    img {
      width: 150px;
    }
  }

  &__remove-btn {
    @include cross(1rem);
    position: absolute;
    right: 0;
    top: 0;
  }
}
