.slider {

  &__image-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
  }

  &__image {
    position: absolute;
    top: 0;
    transition: 0.3s ease;
    cursor: pointer;
    height: 500px;
    opacity: 0;

    &_active {
      opacity: 1;
      z-index: 10;
    }
  }

  &__arrow {
    position: absolute;
    width: 3rem;
    height: 2rem;
    top: 50%;
    margin-top: -1.5rem;
    cursor: pointer;

    &_left {
      transform: scaleX(-1);
      left: -10%;
    }

    &_right {
      right: -10%;
    }
  }

  &__dots {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  &__dot {
    padding: 0.5rem;
    cursor: pointer;

    img {
      width: 1rem;
    }
  }

  &__zoomed {

    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.9);

    img {
      position: absolute;
      left:0;
      right: 0;
      top:0;
      bottom: 0;
      z-index: 12;
      margin: auto;
    }
  }
}
