.fast-image {
  position: relative;

  &__back,
  &__image {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__image {
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    background-color: transparent;
  }
}