.gallery {
  line-height: 0;
  column-count: 4;
  column-gap: 0;

  @media (max-width: 700px) {
    column-count: 1;
  }

  &__photo {
    margin: 0 0 .6rem .6rem;
  }

  &__sale {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 10px;
    height: 30px;
    background: url("./static/sale.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center; 
  }
}