@import '../../common.scss';

.gallery {
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  position: relative;
  margin: 0 auto;

  @media (max-width: 768px) {
    column-count: 1;
    width: 100%;
  }

  &__photo {
    margin: 0 0 .6rem .6rem;
  }
}